* {
    font-family: 'Lexend', sans-serif;
}

body {
    background-image: url(./lib/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
#directacces {
    display: flex;
}

#home, #newPost, #profile {
    width: 20%;
}

.title {
    width: 50%;
}
.headerHome,
.footer2 {
    width: 100%;
    height: 100%;
}
/* flexbox */
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}
.containerHome {
    background-image: url(./lib/images/group.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#google {
    margin-top: 3%;
}

#img-error {
    width: 50%;
}
.result {
    color: gray;
    text-align: center;
    font-weight: bold;
}
#send, 
#send2,
#send3 {
    padding: 1% 3%;
    color: orangered;
    background-color: #BDC1C0;
    border-style: none;
    border-radius: 6%;
    filter: drop-shadow(1px 1px 2px gray);
    font-weight: bold;
    margin: 2%;
}
.button {
    padding: 1% 2%;
    color: orangered;
    border-style: solid;
    border-color: #BDC1C0;
    border-radius: 6%;
}

input {
    padding: 1% 16% 1% 1%;
    filter: drop-shadow(1px 2px 2px gray);
    border: 1px solid black;
    margin: 1%;
}
