body {
    background-image: url(./lib/resources/background.png);
}
#title {
    width: 50%;
    display: block;
    margin: auto;
}
#button {
    background-color: #c4c4c4;
    width: 25%;
    filter: drop-shadow(2px 2px 3px black);
    display: block;
    margin: auto;
}